.title{
    font-weight: 700;
font-size: 64px;
line-height: 1.2;
color: #EEEEEE;
}
.title span{
    color: #00ADB5;
}

@media(max-width: 991.98px){
    .title{
        font-size: 52px;
    }
}
@media(max-width: 767.98px){
    .title{
        font-size: 45px;
    }
}

.button{
    text-align: center;
    font-weight: 700;
font-size: 18px;
line-height: 1.5;
padding: 10px 32px;
color: #EEEEEE;
background-color: #00ADB5;
border-radius: 24px;
transition: background-color 0.3s ease 0s;
}
.button:hover{
    background: rgba(57, 62, 70, 0.75);
}
.button_dark{
    background: rgba(57, 62, 70, 0.75);
}
.button_dark:hover,
.button_dark.active{
    background-color: #00ADB5;
}


/*-----------*/
.social{
    display: flex;
    gap: 24px;
    align-items: center;
    justify-content: center;
}
.social__link{
    display: flex;
    flex: 0 0 48px;
    height: 48px;
    align-items: center;
    justify-content: center;
    background-color: #393E46;
    border-radius: 50%;
    transition: background-color 0.3s ease 0s;
}
.social__link:hover{
    background-color: #6c7077;
}
