.footer{
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 1px solid rgba(238, 238, 238, 0.1);
}
@media(max-width:767.98px){
    .footer{
        padding-top: 35px;
        padding-bottom: 35px;
    }
}
@media(max-width:479.98px){
    .footer{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}
.footer__container{}
.footer__menu{}
.footer__menu:not(:last-child){
    margin-bottom: 28px;
}
.menu-footer{}
.menu-footer__list{
    display: flex;
    column-gap: 48px;
    row-gap: 15px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.menu-footer__item{}
.menu-footer__link{
    line-height: 1.5;
    padding-left: 34px;
}
.menu-footer__link:hover{
    text-decoration: underline;
}
.menu-footer__link_home{
    background: url('../img/icons/home.svg') left no-repeat;
}
.menu-footer__link_about{
    background: url('../img/icons/user.svg') left no-repeat;
}
.menu-footer__link_contacts{
    background: url('../img/icons/phone.svg') left no-repeat;
}
.footer__social{}