/* для header*/
.header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(238, 238, 238, 0.1);
    z-index: 50;
    background-color: rgba(34, 40, 49, 0.8);
}
.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    min-height: 92px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.header__logo{}
.header__menu{}
.menu{}
.menu__list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 3px;
    align-items: center;
}
.menu__item{}
.menu__link{
    color: #EEEEEE;
    line-height: 1.5;
    transition: color 0.3s ease 0s;
}
.menu__link:hover{
    text-decoration: underline;
    color: #00ADB5;
}
@media (max-width: 500px){
    .header__container{
        flex-direction: column;
        gap: 10px;
        min-height: 52px;
    }
    .header__logo{
        padding-top: 10px;
    }
    .menu__list{
        column-gap: 20px;
    }
}
/*--------------------------*/
